<%= form_with(model: userserver, local: true) do |form| %>
  <% if userserver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userserver.errors.count, "error") %> prohibited this userserver from being saved:</h2>

      <ul>
      <% userserver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :online %>

    <%= form.check_box :online %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    (<%=collection_select(:userserver, :user_id, @users, :id, :name)%>)
  
  </div>

  <div class="field">
    <%= form.label :userfile_id %>
  (<%=collection_select(:userserver, :userfile_id, @userfiles, :id, :owner)%>)

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
